/* Базовые сбросы */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--border-color) var(--background-l1);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', -apple-system, sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background);
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card {
    background: var(--background-l1);
    border-radius: var(--radius);
    box-shadow: 0 2px 4px var(--shadow-color);
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &.admin-page {
        flex: 1;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        flex: 1;
        min-height: 0;
        height: fit-content;
        gap: 0.5rem;

        @media (max-width: 600px) {
            padding: 0.5rem;
        }
    }

    &__header {
        position: relative;
    }
}