/* Базовые сбросы */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--border-color) var(--background-l1);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', -apple-system, sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background);
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

.col {
    flex: 1;
    padding: 0 0.75rem;
}

li {
    margin-left: 2.5rem;
}

.admin-form-control input[type="file"] {
    display: none;
}

.card {
    background: var(--background-l1);
    border-radius: var(--radius);
    box-shadow: 0 2px 4px var(--shadow-color);
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
    min-height: 0;
    height: fit-content;
}

.card-header {
    position: relative;
}

@media (max-width: 600px) {
    .card-body {
        padding: 0.5rem;
    }
}