.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: var(--background-l1);
    box-shadow: 0 2px 4px var(--shadow-color);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 2rem;

    @media (max-width: 992px) {
        padding: 0.5rem 1rem;
    }

    h1 {
        white-space: nowrap;

        @media (max-width: 992px) {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.3rem;
        }
    }

    .mobile-menu-btn {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    .admin-user {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (max-width: 992px) {
            display: none;
            align-items: center;
            gap: 1rem;
        }

        .logout-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--primary);
            background-color: transparent;
            border-radius: 8px;
            font-size: 0.9rem;
            font-weight: 500;
            transition: all 0.2s ease;
            
            height: 3rem;
            padding: 1rem;

            text-decoration: none;

            @media (max-width: 992px) {
                display: none;
            }

            &:hover {
                background-color: var(--primary);
                color: var(--background-l1);
            }
        }
    }
}