header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-l1);
    box-shadow: 0 2px 10px var(--shadow-color);
    height: var(--header-height);
    padding: 0.4rem 2rem;
}

.header-container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 100;
    background-color: var(--background-l1);
}

.navbar-top {
    display: none;
    z-index: -1;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.navbar-toggler-icon {
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: var(--text-color);
    position: relative;
    line-height: 0;
    max-height: 2px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    left: 0;
}

.navbar-toggler-icon::before {
    top: -0.5rem;
}

.navbar-toggler-icon::after {
    bottom: -0.5rem;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin-right: auto;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--primary);
}

.nav-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary);
    background-color: transparent;
    border-radius: var(--radius);
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.2s ease;
    
    height: 3rem;
    width: 13rem;
    padding-left: 11rem;

    text-decoration: none;
}
.logout-btn:hover {
    background-color: var(--primary);
    color: var(--background-l1);
}

.account-manager {
    display: none;
}

/* Стили для плашки аккаунта */
.account-info {
    display: flex;
    align-items: center;
}

.account-link {
    display: flex;
    position: absolute;
    flex-direction: row;
    margin: 0 auto;
    text-decoration: none;
    align-items: center;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    background-color: var(--light);
    border-radius: var(--radius);
    border-right: 1px solid var(--primary);
    transition: all 0.2s;
    gap: 0.5rem;
}

.account-link-container {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    align-items: center;
    height: 100%
}

.account-link:hover {
    background-color: rgba(99, 102, 241, 0.1);
    color: var(--primary);
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    object-fit: cover;
}

.notification-center-item {
    padding: 10px;
    border-bottom: 1px solid var(--light-gray);
    font-size: 14px;
    border-left: 5px solid var(--light-gray);
    display: block;
}

.notification-center-item:last-child {
    border-bottom: none;
}

/* Цвета по важности */
.notification-center-item.info {
    border-left-color: #2196f3; /* синий */
}

.notification-center-item.warning {
    border-left-color: #ff9800; /* оранжевый */
}

.notification-center-item.error {
    border-left-color: #f3473b; /* красный */
}

.notification-center-dropdown {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: var(--radius);
    z-index: 1000;
    display: none;
    flex-direction: column;
    transition: all 0.2s;
}

.notification-center-dropdown.visible {
    display: flex;
}

.notification-center-header {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.notification-center-list {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.no-notifications {
    padding: 10px;
    text-align: center;
    color: #999;
}

/* Адаптивность */
@media (max-width: 992px) {

    .logout-btn {
        display: none;
    }

    .nav-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }
    .btn.account-link {
        width: max-content;
    }
    .navbar-toggler {
        display: block;
    }

    .navbar-top {
        justify-content: space-between;
        min-width: calc(100%);
        padding: 0 16px;
        display: flex;
        align-items: center;
    }

    .account-manager {
        display: block;
        min-width: 100%;
        margin-top: 20px;
    }

    .navbar-collapse {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        background-color: var(--background-l1);
        flex-direction: column;
        padding: 0.4rem 1rem;
        box-shadow: 0 2px 5px var(--shadow-color);
        transform: translateY(-900px);
        transition: transform 0.5s ease;
    }

    .navbar-collapse.show {
        transform: translateY(0);
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .d-flex {
        flex-direction: column;
        width: 100%;
    }

    .btn {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}