@use "@core/css/components/global-mixins" as *;

/* Базовые сбросы */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--border-color) var(--background-l1);
}

canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

html {
    scroll-behavior: smooth;

    body {
        font-family: 'Inter', -apple-system, sans-serif;
        line-height: 1.5;
        color: var(--text-color);
        background-color: var(--background);
        max-width: 100%;
        height: 100vh;
        display: flex;

        #root {
            flex: 1;
            display: flex;
        }
    }
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

span {
    color: var(--text-color);
}

.card {
    background: var(--background-l1);
    border-radius: var(--radius);
    box-shadow: 0 2px 4px var(--shadow-color);
    overflow: hidden;
    height: fit-content;
    @include flex-column;

    &__body {
        @include flex-column;
        padding: 1rem;
        flex: 1;
        min-height: 0;
        height: fit-content;
        gap: 0.5rem;

        @include mobile {
            padding: 0.5rem;
        }
    }

    &__header {
        position: relative;
    }
}