.modal-overlay {
    background-color: rgba(56, 56, 56, 0.548);
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; 
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.admin-modal {
    z-index: 1000;
    padding: 1.5rem;
    border-radius: var(--radius);
    background-color: var(--background-l1);
    width: 500px;
}

.admin-modal-content {
    background-color: var(--background-l1);
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
}

@media (max-width: 600px) {
    .modal-overlay {
        width: 100vw;
        height: 100vh;
    }

    .admin-modal-content {
        background-color: var(--background-l1);
        margin: 0;
        width: 100%;
    }

    .admin-modal {
        padding: 0;
        border-radius: var(--radius);
        background-color: var(--background-l1);
        width: fit-content;
        position: sticky;
    }
}