.admin-table-wrapper {
    border-radius: var(--radius);
    border: 2px solid var(--border-color);
    height: fit-content;
    overflow: hidden;
    
    table.admin-table {
        width: 100%;
        border-collapse: collapse;
        background: var(--background-l1);
        border-radius: var(--radius);
        box-shadow: 0 2px 4px var(--shadow-color);
        margin-bottom: 1rem;
        position: relative;

        thead {
            position: sticky;
            top: 0;
            
            tr {
                border-radius: var(--radius);

                th {
                    background-color: var(--primary-light);
                    color: var(--permanent-text-color);
                    padding: 0.8rem 1rem;
                    text-align: left;
                }
            }
        }

        td {
            padding: 1rem;
            border-bottom: 1px solid var(--border-color);

            &.overlay-td {
                padding: 0;
                max-width: 0px;
            }
        }

        tr {

            &:last-child td {
                border-bottom: none;
            }
            
            &:hover {
                background-color: var(--hover-overlay);
            }

            &.draggable {
                cursor: move;
            }

            &.drag-over {
                background-color: #eef;
            }
        }
    }

    &#categoriesTable {
        max-height: 500px;
        overflow: auto;
        width: 100%;
    }

    &#tasksTable {
        max-height: 500px;
        overflow: auto;
        width: 100%;

        .admin-table td {
            padding: 0.5rem;
            max-width: 240px;
            white-space: nowrap;    
            overflow: hidden;        
            text-overflow: ellipsis;
            text-align: left;
        }
    }
}
