.modal-links a {
    color: #007bff;
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

.modal-links{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: 15% auto;
    border-radius: 10px;
    text-align: center;
}

.terms-accept {
    font-size: 18px;
    font-weight: bold;
}