@use "@core/css/components/global-mixins" as *;

/* Карточки статистики */
.stat-section {

    select {
        padding: 0.3rem 0.5rem;
        background-color: transparent;
        color: var(--text-color);
        border: 2px solid var(--border-color);
        margin-bottom: 0.5rem;

        &:focus {
            outline: 0;
        }

        option {
            border: 2px solid var(--primary);
            border-radius: 0.5rem;
            background-color: var(--primary-light);
            color: var(--text-color);
        }
    }

    .stats-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem;
        margin-bottom: 2rem;

        @include tablet-lg {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        }

        @include mobile {
            grid-template-columns: repeat(1, auto);
        }

        .stat-card {
            background: var(--background-l1);
            border-radius: var(--radius);
            padding: 1.5rem;
            box-shadow: 0 2px 4px var(--shadow-color);

            @include tablet-lg {
                padding: 1rem;
            }

            &__title {
                font-size: 0.9rem;
                color: var(--gray);
                margin-bottom: 0.5rem;
            }

            &__value {
                font-size: 1.75rem;
                font-weight: 600;
                color: var(--text-color);
            }

            &__change {
                display: flex;
                align-items: center;
                font-size: 0.85rem;
                margin-top: 0.5rem;

                span {
                    margin-left: 0.3rem;
                }

                &.positive {
                    color: #10b981;

                    i {
                        color: #10b981;
                    }
                }

                &.negative {
                    color: #ef4444;

                    i {
                        color: #10b981;
                    }
                }
            }

            .metrics-container {
                display: flex;
                gap: 0.5rem;

                .divider {
                    color: gray;
                    font-weight: 200; 
                }
            }
        }
    }
}
