@use './categories-page';
@use './dashboard-page'; 
@use './list-page';
@use './localization-page';
@use './main-admin-page'; 
@use './news-edit-page';
@use './permission-page';
@use './tasks-page'; 
@use './view-user';