
/* Дополнительные стили для страницы новостей */

.list-page {
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 10px var(--shadow-color);
    overflow: auto;
    border-radius: var(--radius);
}

.localization-group {
    text-align: center;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    height: fit-content;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.bg-success {
    background-color: #10b981 !important;
    color: white !important;
}

.bg-secondary {
    background-color: #6b7280 !important;
    color: white !important;
}

.btn i {
    margin-right: 0.25rem;
}

.locations-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.locations-main {
    display: flex;
    flex-direction: row; 
    gap: 0.5rem;
}