
/* Дополнительные стили для страницы редактирования */

.btn i {
    margin-right: 0.25rem;
}

textarea.admin-form-control {
    min-height: 100px;
    resize: vertical;
}

.image-preview-container {
        margin-bottom: 15px;
        text-align: left;
}

.image-preview {
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin: 0 0 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}