@use "@core/css/components/global-mixins" as *;

.roles-list {
    @include flex-column;
    border-right: 2px solid var(--border-color);
    width: 170px;
    height: 100%;
    padding: 0 0.5rem;
    gap: 0.2rem;
    overflow: auto;
}

.role-item {
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;

    display: inline-flex;
    justify-content: space-between;
}

.role-item.active {
    background-color: var(--hover-overlay);
    border: 1px solid var(--border-color);
}

.role-item:hover {
    cursor: pointer;
    background-color: var(--hover-overlay);
}

.permissions-list {
    @include flex-column;
    overflow: auto;
    flex: 1;
}

.permission-item {
    padding: 1rem;
    @include flex-row;
    gap: 2rem;
    border-bottom: 1px dashed var(--border-color);
    justify-content: space-between;
    position: relative;
}

.permission-comment {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    color: var(--text-color-l1);
}

input.permission-name {
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    padding: 0.2rem;
    width: 50%;
    color: var(--text-color);
    background-color: transparent;
}

input.permission-comment {
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    width: 50%;
    background-color: transparent;
}

.perm-toggler {
    position: absolute;
    right: 3rem;
}

.page-container {
    @include flex-row;
    padding: 1rem;
    flex: 1;
    gap: 0.5rem;
    min-height: 0;
    position: relative;
}

.selected-role {
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0.5rem;
    height: 50px;
    border-bottom: 2px dashed var(--border-color);
}

.permission-actions-btn {
    color: var(--text-color);
    background-color: transparent;
    border-width: 0;
    border-radius: 8px;
    padding: 0.2rem 0.2rem;
}

.permission-actions-card {
    position: absolute;
    border-radius: 8px;
    background-color: var(--background);
    border: 2px solid var(--border-color);
    bottom: -2rem;
    right: 0;
    padding: 0.5rem 0.8rem;
    z-index: 100;
}

@include mobile {
    .roles-list {
        transform: translateX(-120%);
        position: absolute;
        z-index: 100;
        background-color: var(--background-l1);
        width: 100%;
        border-width: 0;
        transition: all 0.2s ease;
        padding: 0;
    }

    .page-container {
        padding: 1rem 0;
    }

    .permissions-list {
        overflow-x: hidden;
    }

    .permission-item {
        padding: 1rem 0.5rem;
        gap: 1rem;
        justify-content: space-between;
    }

    .role-item {
        font-size: 1.1rem;
        justify-content: center;
        width: auto;
    }

    .roles-list.show {
        transform: translateX(0);
    }

    .selected-role {
        display: flex;
    }

    .perm-toggler {
        right: 2rem;
    }
}