@use "@core/css/components/global-mixins" as *;

.selected-role {
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0.5rem;
    height: 50px;
    border-bottom: 2px dashed var(--border-color);

    @include mobile {
        display: flex;
    }
}

.page-container {
    @include flex-row;
    padding: 1rem;
    flex: 1;
    gap: 0.5rem;
    min-height: 0;
    position: relative;

    @include mobile {
        padding: 1rem 0;
    }

    .roles-list {
        @include flex-column;
        border-right: 2px solid var(--border-color);
        width: 170px;
        padding: 0 0.5rem;
        gap: 0.2rem;
        overflow: auto;

        @include mobile {
            transform: translateX(-120%);
            position: absolute;
            z-index: 100;
            background-color: var(--background-l1);
            width: 100%;
            border-width: 0;
            transition: all 0.2s ease;
            padding: 0;
            height: 100%;

            &.show {
                transform: translateX(0);
            }
        }

        .role-item {
            padding: 0.3rem 0.6rem;
            border-radius: 0.5rem;
            border: 1px solid transparent;

            display: inline-flex;
            justify-content: space-between;

            @include mobile {
                font-size: 1.1rem;
                justify-content: center;
                width: auto;
            }

            &.active {
                background-color: var(--hover-overlay);
                border: 1px solid var(--border-color);
            }

            &:hover {
                cursor: pointer;
                background-color: var(--hover-overlay);
            }
        }
    }

    .permissions-list {
        @include flex-column;
        overflow: auto;
        flex: 1;
        height: 70vh;

        @include mobile {
            overflow-x: hidden;
        }

        .permission-item {
            padding: 1rem;
            @include flex-row;
            gap: 2rem;
            border-bottom: 1px dashed var(--border-color);
            justify-content: space-between;
            position: relative;

            @include mobile {
                padding: 1rem 0.5rem;
                gap: 1rem;
                justify-content: space-between;
            }

            .permission-comment {
                position: absolute;
                bottom: 0;
                font-size: 0.8rem;
                color: var(--text-color-l1);
            }

            .perm-toggler {
                position: absolute;
                right: 3rem;

                @include mobile {
                    right: 2rem;
                }
            }

            .permission-actions-btn {
                color: var(--text-color);
                background-color: transparent;
                border-width: 0;
                border-radius: 8px;
                padding: 0.2rem 0.2rem;
            }

            .permission-actions-card {
                position: absolute;
                border-radius: 8px;
                background-color: var(--background);
                border: 2px solid var(--border-color);
                bottom: -2rem;
                right: 0;
                padding: 0.5rem 0.8rem;
                z-index: 100;
            }

            input {

                &.permission-name {
                    border: 1px solid var(--border-color);
                    border-radius: 0.3rem;
                    padding: 0.2rem;
                    width: 50%;
                    color: var(--text-color);
                    background-color: transparent;
                }

                &.permission-comment {
                    border: 1px solid var(--border-color);
                    border-radius: 0.3rem;
                    width: 50%;
                    background-color: transparent;
                }
            }
        }
    }
}