@use "@core/css/components/global-mixins" as *;

.task-add-btn {
    transform: translateY(-18px) translateX(311px);
}

.task-page-container {
    @include flex-row;
    gap: 1rem;
    height: fit-content;
    justify-content: space-between;

    .tasks-aside {
        @include flex-column;
        height: 100%;
        overflow: hidden;
        gap: 1rem;
        flex: 1;

        .tasks-aside-header {
            font-size: 17px;
            margin-bottom: 1rem;
            padding: 0.3rem;
            border-bottom: 2px solid var(--border-color);
        }

        .tasks-aside-content {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }

    .tasks-container {
        display: flex;
        gap: 1rem;

        .column {
            @include flex-column;
            min-width: 300px;
            gap: 1rem;

            .column-header {
                font-size: 17px;
                margin-bottom: 1rem;
                padding: 0.3rem;
                border-bottom: 2px solid var(--border-color);
            }

            .column-footer {
                font-size: 17px;
                margin-top: 1rem;
                padding: 0.3rem;
                border-top: 2px solid var(--border-color);
            }
        }
    }

    .task-card {
        border: 2px solid var(--border-color);
        border-radius: var(--radius);
        padding: 1rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        transition: 
            background-color .2s ease-in,
            transform .2s ease-in,
            box-shadow .1s ease-in;

        transition-delay: 0s, 0s, 0.1s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px var(--shadow-color);
            background-color: rgba(0,0,0,0.2);
        }

        .meta {
            margin-top: auto;
            display: flex;
            justify-content: space-between;

            #taskType {
                background-color: #55555541;
                padding: 2px 0.7rem;
                font-size: 12px;
                width: fit-content;
                border-radius: 1rem;
            }

            #taskStatus {
                padding: 2px 0.7rem;
                font-size: 12px;
                width: fit-content;
                border-radius: 1rem;
            }
        }
    }
}

.status-new { background-color: rgba(55, 158, 218, 0.4); }
.status-in_progress { background-color: rgba(241, 238, 78, 0.4); }
.status-completed { background-color: rgba(89, 189, 86, 0.4); }
.status-canceled { background-color: rgba(255, 78, 78, 0.4); }

dialog.modal#tasksModal {
    max-width: 500px;
    width: auto;
    border-radius: 1.5rem;
    border: none;

    .task-details {
        background-color: var(--background-l1);
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-radius: var(--radius);

        @include flex-column;
        gap: 0.5rem;

        visibility: hidden;
        opacity: 0;
        transform: translateY(-30px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translateY(0); /* <- нормальное положение */
        }

        .task-detail {
            @include flex-column;
            text-align: left;

            .task-detail-title {
                font-weight: 600;
                margin-bottom: 0.3rem;
            }
        }
    }

    .task-comments-container {
        @include flex-column;
        gap: 0.5rem;

        .task-comments {
            @include flex-column;
            gap: 0.5rem;

            .task-comment-card {
                min-width: 0;
                background-color: var(--background-l1);
                padding: 1rem;
                border: 1px solid var(--border-color);
                border-radius: var(--radius);
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                max-width: 100%;
                position: relative;
                display: flex;
                
                visibility: hidden;
                opacity: 0;
                transform: translateY(-30px);
                transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

                white-space: normal;
                word-wrap: break-word;
                overflow-wrap: break-word;

                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }

                &:hover .task-comment-actions {
                    display: block;
                }

                .task-comment {
                    position: relative;
                    flex: 1;

                    .task-comment-actions {
                        position: absolute;
                        display: none;
                        right: 3.5rem;
                        transform: translateY(-0.5rem);
                    }
                }
            }
        }
    }
}