.users-page {

    .users-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: 1rem;

        .user-card {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;

            border-radius: 8px;
            border: 4px solid var(--border-color);
            padding: 1rem;

            font-weight: 500;
            text-align: center;
        }
    }
}