.form-grid {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
}

/* Форма редактирования */
.edit-listing-form {
    display: grid;
    gap: 1.5rem;
}