:root {
    /* Основные цвета */
    --secondary: #a777e3;
    --secondary-light: #e2d4f7;
    --light: #f9fafb;
    --text-color-l1: #6b7280;

    --light-gray: #dddddd;

    --link-blue: #4898f3;

    --blue: #0c78f3;

    --telegram: #0088cc; 
    --telegram-hover: #0077b3;

    /* Размеры */
    --radius: 12px;
    --header-height: 60px;

    /* Размеры для каталога */
    --listing-img-height: 180px;
    --sidebar-width: 260px;

    --rating-star: #ff9b18;
    --shadow-color: rgba(56, 56, 56, 0.22);

    --sticky-z-index: 1020;

    /* Новые переменные, которых не хватало (смягчённые оттенки) */
    --success-light: #e6f7f0;
    --success-dark: #0f766e;

    --warning-light: #fef9e7;
    --warning-dark: #b45309;

    --danger: #f87171;

    /* Перманентные цвета */

    --permanent-text-color: #e9e9e9;
    --hover-overlay: rgba(99, 102, 241, 0.11);

    /*Изменяемые темой цвета*/

    --text-color: #1f2937;
    --text-color-l1: #6e6d6d;

    --background-l1: #ffffff;
    --background-l2: #e7e4e4;
    --background: #d8dfdf;
    --border-color: #d6d5d5;

    --danger-dark: #d83f3f;
    --primary-light: #9396ff;
    --primary-2xlight: #babdff;
    --primary: #6366f1;
    --primary-dark: #4f46e5;

    --login-bg-start: #8db5fb;
    --login-bg-end: #d25eff;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --background-l1: #28292a;
    --background-l2: #393a3a;

    --accent-color: #66b2ff;
    --border-color: #525252;

    --text-color: #e9e9e9;
    --text-color-l1: #949191;

    --danger-dark: #e9a3a3;
    --primary-light: #4a4e94;
    --primary-2xlight: #2e3392;
    --primary: #7377bd;
    --primary-dark: #534e9c;

    --login-bg-start: #1161eb;
    --login-bg-end: #a809e7;
}